--
-- PostgreSQL database dump
--

\restrict dz4tLolunrnDreSoOHE51HMbJJeYkhnu0kgcR3a0KKNvWWBvvCITmDtidxhjlPG

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: DeliveryChallanStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DeliveryChallanStatus" AS ENUM (
    'Draft',
    'Confirmed',
    'Cancelled'
);


ALTER TYPE public."DeliveryChallanStatus" OWNER TO postgres;

--
-- Name: DeliveryMode; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DeliveryMode" AS ENUM (
    'Truck',
    'Courier',
    'Pickup',
    'Company_Delivery'
);


ALTER TYPE public."DeliveryMode" OWNER TO postgres;

--
-- Name: InvoiceStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."InvoiceStatus" AS ENUM (
    'Draft',
    'Issued',
    'Paid',
    'Partial',
    'Overdue'
);


ALTER TYPE public."InvoiceStatus" OWNER TO postgres;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'Draft',
    'Pending_Approval',
    'Approved',
    'Partially_Delivered',
    'Rejected',
    'Delivered',
    'Cancelled'
);


ALTER TYPE public."OrderStatus" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'Cash',
    'Bank',
    'Cheque',
    'Mobile_Banking'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'Super_Admin',
    'Manager',
    'Accounts',
    'SR'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text NOT NULL,
    action text NOT NULL,
    "oldValue" jsonb,
    "newValue" jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO postgres;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Category" OWNER TO postgres;

--
-- Name: Collection; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Collection" (
    id text NOT NULL,
    "receiptNo" text NOT NULL,
    "dealerCode" text NOT NULL,
    amount numeric(18,2) NOT NULL,
    "paymentMethod" public."PaymentMethod" NOT NULL,
    "referenceNo" text,
    "attachmentUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "invoiceId" text
);


ALTER TABLE public."Collection" OWNER TO postgres;

--
-- Name: Dealer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Dealer" (
    id text NOT NULL,
    "dealerCode" text NOT NULL,
    "companyName" text NOT NULL,
    "proprietorName" text,
    mobile text NOT NULL,
    email text,
    address text NOT NULL,
    district text NOT NULL,
    territory text NOT NULL,
    "creditLimit" numeric(18,2) NOT NULL,
    "currentBalance" numeric(18,2) DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Dealer" OWNER TO postgres;

--
-- Name: DeliveryChallan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DeliveryChallan" (
    id text NOT NULL,
    "challanNo" text NOT NULL,
    "orderId" text NOT NULL,
    "dealerCode" text NOT NULL,
    status public."DeliveryChallanStatus" DEFAULT 'Draft'::public."DeliveryChallanStatus" NOT NULL,
    "deliveryMode" public."DeliveryMode" NOT NULL,
    "vehicleNo" text,
    "driverName" text,
    remarks text,
    "dispatchedAt" timestamp(3) without time zone,
    "createdById" text,
    "confirmedById" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."DeliveryChallan" OWNER TO postgres;

--
-- Name: DeliveryChallanItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DeliveryChallanItem" (
    id text NOT NULL,
    "challanId" text NOT NULL,
    "orderItemId" text NOT NULL,
    "productId" text NOT NULL,
    quantity numeric(18,2) NOT NULL
);


ALTER TABLE public."DeliveryChallanItem" OWNER TO postgres;

--
-- Name: DueReport; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DueReport" (
    id text NOT NULL,
    "dealerCode" text NOT NULL,
    "totalDue" numeric(18,2) NOT NULL,
    "overdueAmount" numeric(18,2) NOT NULL,
    "overdueDays" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DueReport" OWNER TO postgres;

--
-- Name: Invoice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Invoice" (
    id text NOT NULL,
    "invoiceNo" text NOT NULL,
    "dealerCode" text NOT NULL,
    "orderId" text NOT NULL,
    subtotal numeric(18,2) NOT NULL,
    discount numeric(18,2) NOT NULL,
    vat numeric(18,2) NOT NULL,
    "previousDue" numeric(18,2) NOT NULL,
    "collectionReceived" numeric(18,2) NOT NULL,
    "grandTotal" numeric(18,2) NOT NULL,
    "currentDue" numeric(18,2) NOT NULL,
    "deliveryMode" public."DeliveryMode" NOT NULL,
    "vehicleNo" text,
    "driverName" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "dueDate" timestamp(3) without time zone NOT NULL,
    "issueDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."InvoiceStatus" DEFAULT 'Draft'::public."InvoiceStatus" NOT NULL,
    "deliveryChallanId" text
);


ALTER TABLE public."Invoice" OWNER TO postgres;

--
-- Name: InvoiceItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."InvoiceItem" (
    id text NOT NULL,
    "invoiceId" text NOT NULL,
    "challanItemId" text,
    "orderItemId" text,
    "productId" text NOT NULL,
    "productCode" text NOT NULL,
    "productName" text NOT NULL,
    unit text NOT NULL,
    quantity numeric(18,2) NOT NULL,
    "unitPrice" numeric(18,2) NOT NULL,
    discount numeric(18,2) NOT NULL,
    "lineTotal" numeric(18,2) NOT NULL
);


ALTER TABLE public."InvoiceItem" OWNER TO postgres;

--
-- Name: LedgerEntry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LedgerEntry" (
    id text NOT NULL,
    "dealerCode" text NOT NULL,
    "transactionDate" timestamp(3) without time zone NOT NULL,
    "referenceType" text NOT NULL,
    "referenceId" text NOT NULL,
    debit numeric(18,2) NOT NULL,
    credit numeric(18,2) NOT NULL,
    balance numeric(18,2) NOT NULL,
    remarks text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."LedgerEntry" OWNER TO postgres;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    sku text NOT NULL,
    "modelNumber" text NOT NULL,
    name text NOT NULL,
    "nameBn" text,
    "categoryId" text NOT NULL,
    unit text DEFAULT 'PCS'::text NOT NULL,
    description text,
    "currentPrice" numeric(18,2) NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: Project; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Project" (
    id text NOT NULL,
    "dealerId" text NOT NULL,
    "projectCode" text NOT NULL,
    name text NOT NULL,
    address text,
    "contactName" text,
    "contactPhone" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Project" OWNER TO postgres;

--
-- Name: SalesOrder; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SalesOrder" (
    id text NOT NULL,
    "orderNo" text NOT NULL,
    "dealerCode" text NOT NULL,
    status public."OrderStatus" NOT NULL,
    subtotal numeric(18,2) NOT NULL,
    discount numeric(18,2) NOT NULL,
    vat numeric(18,2) NOT NULL,
    "grandTotal" numeric(18,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "approvedAt" timestamp(3) without time zone,
    "approvedById" text,
    "createdById" text,
    "projectId" text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SalesOrder" OWNER TO postgres;

--
-- Name: SalesOrderItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SalesOrderItem" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    quantity numeric(18,2) NOT NULL,
    "unitPrice" numeric(18,2) NOT NULL,
    discount numeric(18,2) NOT NULL,
    total numeric(18,2) NOT NULL
);


ALTER TABLE public."SalesOrderItem" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role public."UserRole" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Collection; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Collection" (id, "receiptNo", "dealerCode", amount, "paymentMethod", "referenceNo", "attachmentUrl", "createdAt", "invoiceId") FROM stdin;
\.


--
-- Data for Name: Dealer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: DeliveryChallan; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: DeliveryChallanItem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: DueReport; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DueReport" (id, "dealerCode", "totalDue", "overdueAmount", "overdueDays", "createdAt") FROM stdin;
\.


--
-- Data for Name: Invoice; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Invoice" (id, "invoiceNo", "dealerCode", "orderId", subtotal, discount, vat, "previousDue", "collectionReceived", "grandTotal", "currentDue", "deliveryMode", "vehicleNo", "driverName", "createdAt", "dueDate", "issueDate", status, "deliveryChallanId") FROM stdin;
\.


--
-- Data for Name: InvoiceItem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."InvoiceItem" (id, "invoiceId", "challanItemId", "orderItemId", "productId", "productCode", "productName", unit, quantity, "unitPrice", discount, "lineTotal") FROM stdin;
\.


--
-- Data for Name: LedgerEntry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LedgerEntry" (id, "dealerCode", "transactionDate", "referenceType", "referenceId", debit, credit, balance, remarks, "createdAt") FROM stdin;
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Project" (id, "dealerId", "projectCode", name, address, "contactName", "contactPhone", "isActive", "createdAt", "updatedAt") FROM stdin;
cmqr30da60001p90jp8e8qt0y	2f4e3850-967c-492c-a35c-610f759b4d0c	PRJ-000001	aaib	kuril	arfin	01652445695	t	2026-06-23 20:13:13.662	2026-06-23 20:13:13.662
\.


--
-- Data for Name: SalesOrder; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SalesOrderItem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, name, email, password, role, "createdAt", "updatedAt", "isActive") FROM stdin;
849d8d23-d3bb-48b7-ad74-9f47e935b9a2	Super Admin	admin@nazma.local	$2b$12$UI3/evon5gLvohCN/vJ3reVfLR7sKniMAhRPQtjGtd4gIXJYWpK8K	Super_Admin	2026-06-20 00:28:32.33	2026-06-20 00:28:32.33	t
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Collection Collection_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Collection"
    ADD CONSTRAINT "Collection_pkey" PRIMARY KEY (id);


--
-- Name: Dealer Dealer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Dealer"
    ADD CONSTRAINT "Dealer_pkey" PRIMARY KEY (id);


--
-- Name: DeliveryChallanItem DeliveryChallanItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryChallanItem"
    ADD CONSTRAINT "DeliveryChallanItem_pkey" PRIMARY KEY (id);


--
-- Name: DeliveryChallan DeliveryChallan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryChallan"
    ADD CONSTRAINT "DeliveryChallan_pkey" PRIMARY KEY (id);


--
-- Name: DueReport DueReport_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DueReport"
    ADD CONSTRAINT "DueReport_pkey" PRIMARY KEY (id);


--
-- Name: InvoiceItem InvoiceItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvoiceItem"
    ADD CONSTRAINT "InvoiceItem_pkey" PRIMARY KEY (id);


--
-- Name: Invoice Invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_pkey" PRIMARY KEY (id);


--
-- Name: LedgerEntry LedgerEntry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LedgerEntry"
    ADD CONSTRAINT "LedgerEntry_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: Project Project_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pkey" PRIMARY KEY (id);


--
-- Name: SalesOrderItem SalesOrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SalesOrderItem"
    ADD CONSTRAINT "SalesOrderItem_pkey" PRIMARY KEY (id);


--
-- Name: SalesOrder SalesOrder_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SalesOrder"
    ADD CONSTRAINT "SalesOrder_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_createdAt_idx" ON public."AuditLog" USING btree ("createdAt");


--
-- Name: AuditLog_entityType_entityId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_entityType_entityId_idx" ON public."AuditLog" USING btree ("entityType", "entityId");


--
-- Name: AuditLog_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_userId_idx" ON public."AuditLog" USING btree ("userId");


--
-- Name: Category_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Category_slug_key" ON public."Category" USING btree (slug);


--
-- Name: Collection_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Collection_createdAt_idx" ON public."Collection" USING btree ("createdAt");


--
-- Name: Collection_dealerCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Collection_dealerCode_idx" ON public."Collection" USING btree ("dealerCode");


--
-- Name: Collection_invoiceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Collection_invoiceId_idx" ON public."Collection" USING btree ("invoiceId");


--
-- Name: Collection_paymentMethod_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Collection_paymentMethod_idx" ON public."Collection" USING btree ("paymentMethod");


--
-- Name: Collection_receiptNo_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Collection_receiptNo_key" ON public."Collection" USING btree ("receiptNo");


--
-- Name: Dealer_dealerCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Dealer_dealerCode_key" ON public."Dealer" USING btree ("dealerCode");


--
-- Name: DeliveryChallanItem_challanId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DeliveryChallanItem_challanId_idx" ON public."DeliveryChallanItem" USING btree ("challanId");


--
-- Name: DeliveryChallanItem_orderItemId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DeliveryChallanItem_orderItemId_idx" ON public."DeliveryChallanItem" USING btree ("orderItemId");


--
-- Name: DeliveryChallanItem_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DeliveryChallanItem_productId_idx" ON public."DeliveryChallanItem" USING btree ("productId");


--
-- Name: DeliveryChallan_challanNo_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "DeliveryChallan_challanNo_key" ON public."DeliveryChallan" USING btree ("challanNo");


--
-- Name: DeliveryChallan_confirmedById_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DeliveryChallan_confirmedById_idx" ON public."DeliveryChallan" USING btree ("confirmedById");


--
-- Name: DeliveryChallan_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DeliveryChallan_createdAt_idx" ON public."DeliveryChallan" USING btree ("createdAt");


--
-- Name: DeliveryChallan_createdById_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DeliveryChallan_createdById_idx" ON public."DeliveryChallan" USING btree ("createdById");


--
-- Name: DeliveryChallan_dealerCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DeliveryChallan_dealerCode_idx" ON public."DeliveryChallan" USING btree ("dealerCode");


--
-- Name: DeliveryChallan_dispatchedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DeliveryChallan_dispatchedAt_idx" ON public."DeliveryChallan" USING btree ("dispatchedAt");


--
-- Name: DeliveryChallan_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DeliveryChallan_orderId_idx" ON public."DeliveryChallan" USING btree ("orderId");


--
-- Name: DeliveryChallan_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DeliveryChallan_status_idx" ON public."DeliveryChallan" USING btree (status);


--
-- Name: DueReport_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DueReport_createdAt_idx" ON public."DueReport" USING btree ("createdAt");


--
-- Name: DueReport_dealerCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DueReport_dealerCode_idx" ON public."DueReport" USING btree ("dealerCode");


--
-- Name: InvoiceItem_challanItemId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "InvoiceItem_challanItemId_key" ON public."InvoiceItem" USING btree ("challanItemId");


--
-- Name: InvoiceItem_invoiceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "InvoiceItem_invoiceId_idx" ON public."InvoiceItem" USING btree ("invoiceId");


--
-- Name: InvoiceItem_orderItemId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "InvoiceItem_orderItemId_idx" ON public."InvoiceItem" USING btree ("orderItemId");


--
-- Name: InvoiceItem_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "InvoiceItem_productId_idx" ON public."InvoiceItem" USING btree ("productId");


--
-- Name: Invoice_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_createdAt_idx" ON public."Invoice" USING btree ("createdAt");


--
-- Name: Invoice_dealerCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_dealerCode_idx" ON public."Invoice" USING btree ("dealerCode");


--
-- Name: Invoice_deliveryChallanId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_deliveryChallanId_idx" ON public."Invoice" USING btree ("deliveryChallanId");


--
-- Name: Invoice_deliveryChallanId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Invoice_deliveryChallanId_key" ON public."Invoice" USING btree ("deliveryChallanId");


--
-- Name: Invoice_dueDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_dueDate_idx" ON public."Invoice" USING btree ("dueDate");


--
-- Name: Invoice_invoiceNo_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Invoice_invoiceNo_key" ON public."Invoice" USING btree ("invoiceNo");


--
-- Name: Invoice_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_orderId_idx" ON public."Invoice" USING btree ("orderId");


--
-- Name: Invoice_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_status_idx" ON public."Invoice" USING btree (status);


--
-- Name: LedgerEntry_dealerCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LedgerEntry_dealerCode_idx" ON public."LedgerEntry" USING btree ("dealerCode");


--
-- Name: LedgerEntry_referenceType_referenceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LedgerEntry_referenceType_referenceId_idx" ON public."LedgerEntry" USING btree ("referenceType", "referenceId");


--
-- Name: LedgerEntry_transactionDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LedgerEntry_transactionDate_idx" ON public."LedgerEntry" USING btree ("transactionDate");


--
-- Name: Product_modelNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Product_modelNumber_key" ON public."Product" USING btree ("modelNumber");


--
-- Name: Product_sku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Product_sku_key" ON public."Product" USING btree (sku);


--
-- Name: Project_dealerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Project_dealerId_idx" ON public."Project" USING btree ("dealerId");


--
-- Name: Project_dealerId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Project_dealerId_name_key" ON public."Project" USING btree ("dealerId", name);


--
-- Name: Project_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Project_name_idx" ON public."Project" USING btree (name);


--
-- Name: Project_projectCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Project_projectCode_key" ON public."Project" USING btree ("projectCode");


--
-- Name: SalesOrderItem_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SalesOrderItem_orderId_idx" ON public."SalesOrderItem" USING btree ("orderId");


--
-- Name: SalesOrderItem_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SalesOrderItem_productId_idx" ON public."SalesOrderItem" USING btree ("productId");


--
-- Name: SalesOrder_approvedById_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SalesOrder_approvedById_idx" ON public."SalesOrder" USING btree ("approvedById");


--
-- Name: SalesOrder_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SalesOrder_createdAt_idx" ON public."SalesOrder" USING btree ("createdAt");


--
-- Name: SalesOrder_createdById_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SalesOrder_createdById_idx" ON public."SalesOrder" USING btree ("createdById");


--
-- Name: SalesOrder_dealerCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SalesOrder_dealerCode_idx" ON public."SalesOrder" USING btree ("dealerCode");


--
-- Name: SalesOrder_orderNo_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "SalesOrder_orderNo_key" ON public."SalesOrder" USING btree ("orderNo");


--
-- Name: SalesOrder_projectId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SalesOrder_projectId_idx" ON public."SalesOrder" USING btree ("projectId");


--
-- Name: SalesOrder_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SalesOrder_status_idx" ON public."SalesOrder" USING btree (status);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: AuditLog AuditLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Collection Collection_dealerCode_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Collection"
    ADD CONSTRAINT "Collection_dealerCode_fkey" FOREIGN KEY ("dealerCode") REFERENCES public."Dealer"("dealerCode") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Collection Collection_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Collection"
    ADD CONSTRAINT "Collection_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."Invoice"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DeliveryChallanItem DeliveryChallanItem_challanId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryChallanItem"
    ADD CONSTRAINT "DeliveryChallanItem_challanId_fkey" FOREIGN KEY ("challanId") REFERENCES public."DeliveryChallan"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DeliveryChallanItem DeliveryChallanItem_orderItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryChallanItem"
    ADD CONSTRAINT "DeliveryChallanItem_orderItemId_fkey" FOREIGN KEY ("orderItemId") REFERENCES public."SalesOrderItem"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DeliveryChallanItem DeliveryChallanItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryChallanItem"
    ADD CONSTRAINT "DeliveryChallanItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DeliveryChallan DeliveryChallan_confirmedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryChallan"
    ADD CONSTRAINT "DeliveryChallan_confirmedById_fkey" FOREIGN KEY ("confirmedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DeliveryChallan DeliveryChallan_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryChallan"
    ADD CONSTRAINT "DeliveryChallan_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DeliveryChallan DeliveryChallan_dealerCode_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryChallan"
    ADD CONSTRAINT "DeliveryChallan_dealerCode_fkey" FOREIGN KEY ("dealerCode") REFERENCES public."Dealer"("dealerCode") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DeliveryChallan DeliveryChallan_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DeliveryChallan"
    ADD CONSTRAINT "DeliveryChallan_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."SalesOrder"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DueReport DueReport_dealerCode_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DueReport"
    ADD CONSTRAINT "DueReport_dealerCode_fkey" FOREIGN KEY ("dealerCode") REFERENCES public."Dealer"("dealerCode") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: InvoiceItem InvoiceItem_challanItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvoiceItem"
    ADD CONSTRAINT "InvoiceItem_challanItemId_fkey" FOREIGN KEY ("challanItemId") REFERENCES public."DeliveryChallanItem"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: InvoiceItem InvoiceItem_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvoiceItem"
    ADD CONSTRAINT "InvoiceItem_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."Invoice"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InvoiceItem InvoiceItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvoiceItem"
    ADD CONSTRAINT "InvoiceItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Invoice Invoice_dealerCode_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_dealerCode_fkey" FOREIGN KEY ("dealerCode") REFERENCES public."Dealer"("dealerCode") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Invoice Invoice_deliveryChallanId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_deliveryChallanId_fkey" FOREIGN KEY ("deliveryChallanId") REFERENCES public."DeliveryChallan"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Invoice Invoice_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."SalesOrder"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: LedgerEntry LedgerEntry_dealerCode_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LedgerEntry"
    ADD CONSTRAINT "LedgerEntry_dealerCode_fkey" FOREIGN KEY ("dealerCode") REFERENCES public."Dealer"("dealerCode") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Product Product_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Project Project_dealerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_dealerId_fkey" FOREIGN KEY ("dealerId") REFERENCES public."Dealer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SalesOrderItem SalesOrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SalesOrderItem"
    ADD CONSTRAINT "SalesOrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."SalesOrder"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SalesOrderItem SalesOrderItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SalesOrderItem"
    ADD CONSTRAINT "SalesOrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SalesOrder SalesOrder_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SalesOrder"
    ADD CONSTRAINT "SalesOrder_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SalesOrder SalesOrder_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SalesOrder"
    ADD CONSTRAINT "SalesOrder_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SalesOrder SalesOrder_dealerCode_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SalesOrder"
    ADD CONSTRAINT "SalesOrder_dealerCode_fkey" FOREIGN KEY ("dealerCode") REFERENCES public."Dealer"("dealerCode") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SalesOrder SalesOrder_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SalesOrder"
    ADD CONSTRAINT "SalesOrder_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict dz4tLolunrnDreSoOHE51HMbJJeYkhnu0kgcR3a0KKNvWWBvvCITmDtidxhjlPG

